<h2><%= t('seo', :scope => 'seo_meta.form') %></h2>
<div class='field'>
  <span class='label_with_help'>
   <%= form.label :browser_title, t('seo_override_title', :scope => 'seo_meta.form') %>
   <%= refinery_help_tag t('seo_override_title_help', :scope => 'seo_meta.form')%>
  </span>
  <%= form.text_field :browser_title, :class => 'widest' %>
</div>
<div class='field'>
  <span class='label_with_help'>
   <%= form.label :meta_description, t('meta_description_title', :scope => 'seo_meta.form') %>
   <%= refinery_help_tag t('meta_description_help', :scope => 'seo_meta.form') %>
  </span>
  <%= form.text_area :meta_description, :class => 'widest', :rows => 7 %>
</div>
<div class='field'>
  <span class='label_with_help'>
   <%= form.label :noindex, t('noindex', :scope => 'seo_meta.form') %>
  </span>
  <%= form.check_box :noindex %>
  <%= form.label :noindex, t('.noindex_help'),
              :class => "stripped" %>
</div>
<div class='field'>
  <span class='label_with_help'>
   <%= form.label :nofollow?, t('nofollow', :scope => 'seo_meta.form') %>
  </span>
  <%= form.check_box :nofollow %>
  <%= form.label :nofollow, t('.nofollow_help'),
              :class => "stripped" %>
</div>
